option_settings:
  # Enable load balancer to listen on port 443 (HTTPS)
  aws:elbv2:listener:443:
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:us-east-1:634419072974:certificate/adfc4d01-f688-45a2-a313-24cb4601f8e1
    DefaultProcess: default
    ListenerEnabled: 'true'

  # Redirect HTTP traffic (port 80) to HTTPS (port 443)
  aws:elbv2:listener:default:
    ListenerEnabled: 'true'
