option_settings:
  # Configure HTTPS listener on port 443
  aws:elbv2:listener:443:
    Protocol: HTTPS
    SSLCertificateArns: arn:aws:acm:us-east-1:634419072974:certificate/adfc4d01-f688-45a2-a313-24cb4601f8e1
    SSLPolicy: ELBSecurityPolicy-TLS13-1-2-2021-06
    ListenerEnabled: true
    DefaultProcess: default
    Rules: ''
  
  # Keep HTTP listener on port 80 for redirects
  aws:elbv2:listener:default:
    Protocol: HTTP
    ListenerEnabled: true
